@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root{
    --cor1: #04021C;
    --cor2: #040740;
    --cor3: #1F4373;
    --cor4: #376BBC;
    --cor5: #b6b6b6;
    --cor6: #ffffff;
    --cor7: #A3AEB5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--cor3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    font-family: 'Ubuntu', sans-serif;
    margin: 2px;
    font-size: 55px;
    color: var(--cor6);
    text-align: center;
  }
.form{
    padding: 20px;
}
.form-control{
    margin-bottom:10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid var(--cor2);
    display: block;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
}

#msg{
    border: 2px solid var(--cor2);
    display: block;
    border-radius: 5px;
    font-size: 18px;
}

form button{
    background-color: var(--cor2);
    border: 1px solid var(--cor6);
    color: var(--cor6);
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    padding: 8px;
}
#voltar{
    text-decoration: none;
    color: var(--cor6);
    background-color: var(--cor2);
    padding: 15px;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    top: 10px;
    box-shadow: 3px 3px 10px var(--cor5);
}